<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - StudyRazorPage</title>
	<link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

</head>
<body>

	<div class="container">
		@RenderBody()
	</div>

	<script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script defer src="~/lib/alpinejs/cdn.min.js"></script>
	@RenderSection("scripts", false)
</body>
</html>