@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">こんにちは。</h1>
    <p>
		<a asp-action="Index" asp-controller="Product" asp-area="Admin">これは管理者ページ（ＡｄｍｉｎＰａｇｅ）</a>
    </p>
</div>
